@{
    ViewData["Title"] = "Home Page";
    
}




<div class="container my-4">
    <div class="row">
        <div class="col-lg-10">
            <h2 class="text-uppercase fw-bold my-3">Today featured</h2>
             <partial name="_TodayMagazine"/>
        </div>
        <div class="col-lg-2">
            <partial name="_HomeSidebar"/>
        </div>
    </div>
    <div>

    </div>
</div>
